<?xml version="1.0" encoding="UTF-8"?>

<!--
This is a custom Tomcat Context configuration specific for common env.
-->

<!-- The contents of this file will be loaded for each web application
NOTE: In order to make multiple webapps share same sessionID we need to set cookie path to "/" for all contexts.
-->
<Context sessionCookiePath="/">

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- PostgreSQL DB -->
    <ResourceLink name="postgres_testDB" global="postgres_testDB" type="javax.sql.DataSource" />

    <!-- Activate SiteMinder Integration -->
    <Valve className="jspwebapp.common.siteminder.SiteMinderTestValve"/>
    <Valve className="jspwebapp.common.siteminder.SiteMinderAuthenticator" enableSiteMinder="true"/>

</Context>
